
/*==================>Scroll<==================*/

::-webkit-scrollbar{
  width: 10px;
  background-color: #FFFFFF;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 12px;
  background-color: #F1F1F1;
}
::-webkit-scrollbar-thumb{
  border-radius: 12px; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #167268;
}
/*==========================================*/
 

/*==================>Botones<==================*/
.b1{
  position: absolute; 
  top: 18%;
  left: 40.5%;
  width: 11%;
  z-index: 2;
  /* border: 2px solid #15F1E9; */
}

.b2{
  position: absolute; 
  top: 7.3%;
  left: 57%;
  width: 17%;
  z-index: 2;
  /* border: 3px solid #15F1E9; */
}
 
.b3{
  position: absolute; 
  top: 48%;
  left: 66%;
  width: 10%; 
  z-index: 2;
  /* border: 3px solid #15F1E9; */
}

.b4{
  position: absolute; 
  top: 62%;
  left: 42%;
  width: 18%;
  z-index: 2;
  /* border: 3px solid #15F1E9; */
}


/*==================>Cubiertas<==================*/
  
.c1{
  position: absolute; 
  top: 4.3%;
  left: 39%;
  width: 16%;
  z-index: 1;
  /* border: 1px solid #15F1E9; */
}
  
.c2{
  position: absolute; 
  top: 6.7%;
  left: 54.7%;
  width: 25%;
  z-index: 1;
  /* border: 1px solid #15F1E9; */
}
  
.c3{
  position: absolute; 
  top: 41.5%;
  left: 62%;
  width: 16.3%; 
  z-index: 1;
  /* border: 3px solid #15F1E9; */
}

.c4{
  position: absolute; 
  top: 59.2%;
  left: 37.8%;
  width: 24.7%;
  z-index: 1;
  /* border: 3px solid #15F1E9; */
}