
/*==================>Scroll<==================*/

::-webkit-scrollbar{
  width: 10px;
  background-color: #FFFFFF;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 12px;
  background-color: #F1F1F1;
}
::-webkit-scrollbar-thumb{
  border-radius: 12px; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #167268;
}
/*==========================================*/

.hormiga{
  position: absolute; 
  bottom: 0.5%;
  left: 52%;
  width: 26%; 
  z-index: 2;
  /*border: 3px solid #EB08E8;*/
}

.texto{
  position: absolute; 
  top: 10%;
  left: 25%;
  width: 28%; 
  /*border: 3px solid #15F1E9;*/
}

.flecha{
	position: absolute; 
  top: 55%;
  left: 32%;
  width: 10%; 
  /*border: 3px solid #15F1E9;*/
}
