/*Normalizar el documento*/
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body{
  background: #FFFFFF;
  cursor: url(../../images/cur.cur),auto;
  overflow-x: hidden;
}

a{
  cursor: url(../../images/15.cur),auto;
}

img{
	width: 100%; 
}

.contenedor{
  width: 100vw;
  position: relative;
  /*height: 100vh;*/
  /*border: 3px solid #FA0505;*/
}

.fondo{
  /*(fixed) se posiciona a partir del navegdor donde se quiera, queda fijo */
  /*(absolute) se posiciona a partir de la posicion del padre */
  /*(relative) respeta el orden de las posiciones de los demas objetos div*/
  position: relative;
  margin-top: 0.6%;
  left: 19.9%; /*posicion horizontal*/
  width: 60.2%;/*tamaño*/
  /*border: 3px solid #4D0FE9;*/
}

.home{
  position: absolute; 
  top: 1%;
  left: 8%;
  width: 4%; 
  /*border: 3px solid #11F937;*/
}

.reg{
  position: absolute; 
  top:37.5%;
  left: -0.2%;
  width: 8%; 
  /*border: 3px solid #11F937;*/
}

.sig{
  position: absolute; 
  top:37.5%;
  left: 92.2%;
  width: 8%; 
  /*border: 3px solid #11F937;*/
}